.about-company {
    /* padding-top: 166px; */
    padding-bottom: 64px;
    @media (--lg) {
        /* padding-top: 150px; */
        padding-bottom: 100px;
        .s-advisor-logo {
            margin-top: -13px; 
        }
    }
    &-logo>img {
        @media (--to-md) {
            max-width: 154px;
        }
    }

    .b--text-grid > .container-padding{
        padding: 0px;
    }
}