<section class="diversification counter-section custom-block lazy-container bg-gray3 mb-0 {{ block.className }}">
    <div class="container container-padding">
        <div class="title-block">
            <h2>{{ fields.heading }}</h2>
			    {{ fields.description }}
        </div>
        <div class="d-lg-flex justify-content-lg-between mb-5">
            <div class="col-counter">
                <p class="text-eyebrow text-uppercase text-blue2">Investments<sup>x<sup></p>
                <div class="d-flex align-items-center mt-2">
                    <h3 class="text-statistics">
                        TBD
                    </h3>
                </div>
            </div>

            <div class="col-counter">
                <p class="text-eyebrow text-uppercase text-blue2">Gross Asset Value<sup>x<sup></p>
                <div class="d-flex align-items-center mt-2">
                    <h3 class="text-statistics">
                        <sup>$</sup>TBD
                        <p class="d-inline text-paragraph--small ms-1">billion</p>
                    </h3>
                </div>
            </div>

            <div class="col-counter">
                <p class="text-eyebrow text-uppercase text-blue2">Individual Infrastructure Holdings<sup>x<sup></p>
                <div class="d-flex align-items-center mt-2">
                    <h3 class="text-statistics">
                        TBD
                    </h3>
                </div>
            </div>

            <div class="col-counter">
                <p class="text-eyebrow text-uppercase text-blue2">Leverage<sup>x<sup></p>
                <div class="d-flex align-items-center mt-2">
                    <h3 class="text-statistics">
                        TBD
                        <sup>%</sup>
                    </h3>

                </div>
            </div>

        </div>
          <div class="footnote description text-paragraph--small">
                <p>{{ __("Holdings are subject to change and do not constitute a recommendation or solicitation to buy or sell a
                particular security.", "lucera-bootstrap") }}</p>
            </div>
    </div>
</section>