.error404 header {
    background: black;
    position: relative;
}

.container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;

    @media (--md) {
        justify-content: center;
    }
}
