{% extends '_layout.twig' %}

{% block content %}

<section class="custom-block lazy-container text-white" data-module="hero">
    <div class="b--hero --with-image"
        style="background-image: url('/wp-content/themes/lucera-bootstrap/dist/images/bg-manager-hero.jpg');">
        <div class="container container-padding">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="container">
                        <div class="breadcrumbs text-uppercase text-eyebrow">
                            <span><span><a href="http://cantor.local/">Home</a> » <span class="breadcrumb_last"
                                        aria-current="page">Infrastructure</span></span></span>
                        </div>

                        <h2 class="h1">Sustainable Infrastructure</h2>
                        <p>The Fund leverages Cantor Fitzgerald and Capital Innovations' extensive experience in
                            financial markets, asset management, and sustainable infrastructure investing.</p>
                    </div>
                </div>
                <div
                    class="heroOffsetImage-bottom col-md-6 col-lg-5 offset-lg-1 d-lg-flex justify-content-lg-end ps-md-4 pt-5 pt-md-0">
                    <img src="/wp-content/themes/lucera-bootstrap/dist/images/img-infrastructure-hero.jpg"
                        alt="Maanager Hero Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</section>


<section class="bg-white b--info-with-image mt-5 py-5">
    <div class="d-lg-none img--full-width">
        <img src="/wp-content/themes/lucera-bootstrap/dist/images/img-infrastructure-about.jpg" alt="About Image"
            class="img-fluid">
    </div>
    <div class="container container-padding py-5">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-inline">
                <img src="/wp-content/themes/lucera-bootstrap/dist/images/img-infrastructure-about.jpg"
                    alt="About Image" class="img-fluid">
            </div>

            <div class="col-lg-6 d-flex align-items-center">
                <div class="container ps-lg-5">
                    <h2>A Global Opportunity</h2>
                    <p>Infrastructure improves living standards and supports economic development. Global growth
                        dynamics continue to drive public and private investment in infrastructure pointing to
                        opportunities in areas such as the development and modernization of roads, power networks, water
                        systems and telecommunication networks.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-padding py-5">
        <h3>Infrastructure’s Potential Investment Benefits</h3>
        <div class="row">
            <div class="col-md-6 mt-5">
                <h4>Durable Income Stream</h4>
                <p>A durable and reliable income stream may be achieved through long-duration contracts and
                    near-monopolistic characteristics of infrastructure assets.</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>Lower Economic Sensitivity</h4>
                <p>The persistent demand for infrastructure services and products has resulted in a historically low
                    correlation to other assets classes providing portfolio diversification benefits.</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>Attractive Historical Returns</h4>
                <p>Infrastructure has historically generated attractive total returns consisting of current income and
                    appreciation.*</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>Inflation Protection Potential</h4>
                <p>Many infrastructure projects have inflation-linked pricing in their revenue contracts, which
                    functions as an inflation hedge.</p>
            </div>
        </div>
        <p class="text-paragraph--small mt-5">* MSCI, J.P. Morgan Asset Management</p>
    </div>
</section>

<section class="b--info-with-bg-image"
    style="background-image: url(http://cantor.local/wp-content/uploads/2022/03/sustainability-bg-md.jpg);">
    <div class="container container-padding">
        <div class="row">
            <div class="col-lg-6">
                <h2>Leveraging Sustainable Global Megatrends</h2>
                <p>The Fund's investment strategy focuses on three targeted global megatrends. We believe integrating
                    sustainability considerations aligned with the United Nations Sustainable Development Goals into the
                    investment process further enhances long-term risk-adjusted returns.</p>
            </div>
        </div>
    </div>
</section>


<section class="b--megatrends-list">
    <article class="b--megatrends-list-item container container-padding">
        <h3 class="text-uppercase text-blue gray-line-accent">01</h3>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-xl-5">
                <h2>Digital Transformation</h2>
                <div class="megatrends-list-item-feature">
                    <h4>Megatrend</h4>
                    <p>As digital technologies expand and the number of connected devices increases, the amount of data
                        generated is anticipated to continue to see exponential growth. </p>
                </div>
                <div class="megatrends-list-item-feature">
                    <h4>Opportunity</h4>
                    <p>This will require investment in digital infrastructure such as data centers, cellular towers,
                        fiber
                        networks, and more to keep the data moving and stored in a secure environment.</p>
                </div>
            </div>
            <div class="b--megatrends-list-image col-lg-5 offset-lg-1 col-xl-6 offset-xl-1">
                <img src="https://via.placeholder.com/540x503" alt="Name" class="img-fluid w-100">
            </div>
        </div>
    </article>
    <article class="b--megatrends-list-item container container-padding">
        <h3 class="text-uppercase text-blue gray-line-accent">02</h3>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-xl-5">
                <h2>Decarbonization</h2>
                <div class="megatrends-list-item-feature">
                    <h4>Megatrend</h4>
                    <p>Global adoption of renewable energy sources continues to grow as fossil fuel reliance declines.
                        Renewables are expected to make up an increased share of global energy creation as clean energy
                        has become the low-cost energy source outperforming the traditional energy sector over the last
                        several years.</p>
                </div>
                <div class="megatrends-list-item-feature">
                    <h4>Opportunity</h4>
                    <p>Clean energy infrastructure investment is required from both the public and private sectors
                        leading to opportunities in the generation, transmission, distribution and storage of energy.
                    </p>
                </div>
            </div>
            <div class="b--megatrends-list-image col-lg-5 offset-lg-1 col-xl-6 offset-xl-1">
                <img src="https://via.placeholder.com/540x503" alt="Name" class="img-fluid w-100">
            </div>
        </div>
    </article>
    <article class="b--megatrends-list-item container container-padding ">
        <h3 class="text-uppercase text-blue gray-line-accent">03</h3>
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-xl-5">
                <h2>Enhancement of Aging Infrastructure</h2>
                <div class="megatrends-list-item-feature">
                    <h4>Megatrend</h4>
                    <p>Aging roads, water systems, telecommunication systems, power networks, and other infrastructure
                        hinder, economic development and quality of life. </p>
                </div>
                <div class="megatrends-list-item-feature">
                    <h4>Opportunity</h4>
                    <p>Investment is needed globally to close the gap required to maintain and modernize current
                        infrastructure to foster economic growth.</p>
                </div>
            </div>
            <div class="b--megatrends-list-image col-lg-5 offset-lg-1 col-xl-6 offset-xl-1">
                <img src="https://via.placeholder.com/540x503" alt="Name" class="img-fluid w-100">
            </div>
        </div>
    </article>
</section>

<section class="b--info-with-bg-image"
    style="background-image: url(http://cantor.local/wp-content/uploads/2022/03/sustainability-bg-md.jpg);">
    <div class="container container-padding">
        <div class="row">
            <div class="col-lg-7">
                <div class="bg-gray p-5">
                    <h2>Sustainability</h2>
                    <p>Sustainable investing incorporates environment, social and governance considerations into the
                        investment process and seeks to align with the United Nations Sustainability Development Goals
                        and
                        to enhance long-term risk-adjusted returns.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container container-padding py-5">
        <div class="row py-lg-5">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="container pe-lg-5">
                    <h2>ESG Integration</h2>
                    <p>The Fund integrates environmental, social and governance information alongside traditional
                        measures into the investment decision process. Unless otherwise stated in Fund documentation or
                        included within the Fund’s investment objective, inclusion of this statement does not imply that
                        the Fund has an ESG-aligned investment objective, but rather describes how ESG information is
                        considered as part of the overall investment process.</p>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="https://via.placeholder.com/540x503" alt="About Image" class="img-fluid w-100">
            </div>
        </div>
    </div>
</section>

{% endblock %}