.breadcrumbs {
    display: flex;
    margin-bottom: 20px;
    span {
        span {
            a {
                margin-right: 7px;
            }
            span a {
                margin-left: 7px;
            }
        }
    }
    .breadcrumb_last {
        margin-left: 7px;
    }
}