.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-trigger{
        cursor: pointer;
        display: flex;
        align-items: center;

        i{
            font-size: 8.49px;
            margin-left: 5.76px;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;

        &.open{
            display: block;
        }
    }
}

  