<section class="hero-archive custom-block lazy-container {{ block.className }}">
	<div class="container container-padding">
		<div class="row">
			<div class="col-lg-12 text-container d-flex align-items-center">
				<div class="container">
					<div class="breadcrumbs text-uppercase text-eyebrow">
						{{ breadcrumb }}
					</div>

					<h2 class="h1">{{ fields.heading }}</h2>
				</div>
			</div>
		</div>
	</div>
</section>