<section class="page-break--image {{ block.className }}">

                <img src="{{ fields.background_image_sm.url }}" alt="Name" class="img-fluid w-100 d-md-none">
                <img src="{{ fields.background_image_md.url }}" alt="Name" class="img-fluid w-100 d-none d-md-block d-lg-none">
                <img src="{{ fields.background_image_lg.url }}" alt="Name" class="img-fluid w-100 d-none d-lg-block">
</section>