{% extends '_layout.twig' %}

{% block content %}

<section class="custom-block lazy-container text-white" data-module="hero">
    <div class="b--hero --with-image"
        style="background-image: url('/wp-content/themes/lucera-bootstrap/dist/images/bg-manager-hero.jpg');">
        <div class="container container-padding">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="container">
                        <div class="breadcrumbs text-uppercase text-eyebrow">
                            <span><span><a href="/">Home</a> &187; <span class="breadcrumb_last"
                                        aria-current="page">Manager</span></span></span>
                        </div>

                        <h2 class="h1">High Performance, Established Leadership</h2>
                        <p>The Fund leverages Cantor Fitzgerald and Capital Innovations' extensive experience in
                            financial markets, asset management, and sustainable infrastructure investing.</p>
                    </div>
                </div>
                <div class="heroOffsetImage-bottom col-md-6 col-lg-5 offset-lg-1 d-lg-flex justify-content-lg-end ps-md-4 pt-5 pt-md-0">
                    <img src="/wp-content/themes/lucera-bootstrap/dist/images/img-manager-hero.jpg" alt="Manager Hero Image" class="img-fluid" />
                </div>
            </div>

        </div>
    </div>
</section>

<section class="custom-block lazy-container s-advisor">
    <div class="container container-padding">
        <div class="mb-5 mb-md-0">
            <h3 class="text-uppercase text-blue mb-3 mb-md-5 gray-line-accent">Advisor</h3>
        </div>
        <div class="row">
            <div class="col-lg-3 s-advisor-logo pt-lg-3">
                <img src="/wp-content/themes/lucera-bootstrap/dist/images/logo-cantor.svg" alt="Advisor Logo" class="img-fluid" />
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <h2>A Tradition of Excellence
                    Since 1945</h2>
                <p>Cantor Fitzgerald utilizes its experience and vertically integrated affiliates across real
                    estate, investing, asset management, and research to understand major market opportunities
                    and
                    scale rapidly.</p>
                <p>With a long-term focus on value creation combined with real-time asset data from market
                    presence,
                    Cantor Fitzgerald is positioned to create best in class products for its investors.</p>
                <div class="mt-3">
                    <a href="" class="brochure__btn btn btn-primary" download="">Download Brochure<span
                            class="btn-label label-after">
                            <i class="icon-download"></i>
                        </span></a>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <h4>Global Footprint</h4>
                        <p>More than 160 offices and trading desks located in all major financial centers
                            throughout the world</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h4>Investment Grade</h4>
                        <p>Maintains an investment-grade credit rating by Standard &amp; Poor's and Fitch</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h4>Expansive Team</h4>
                        <p>Across all platforms, Cantor Fitzgerald has more than 12,000 employees worldwide</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h4>Primary Dealer</h4>
                        <p>One of the 24 primary dealers authorized to transact business with the Federal
                            Reserve Bank of New York</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="custom-block lazy-container s-achievement bg-gray">
    <div class="container container-padding">
        <div class="row">
            <div class="col-lg-6">
                <img src="/wp-content/themes/lucera-bootstrap/dist/images/img-achievement.jpg" alt="Achievement" class="img-fluid" />
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="ps-lg-5 mt-4 mt-lg-0">
                    <h2>Over $100 Billion</h2>
                    <p>In real assets-related transactions in 2021*</p>

                    <div class="row mt-4">
                        <div class="col-md-6 d-flex align-items-center">
                            <img src="/wp-content/themes/lucera-bootstrap/dist/images/logo-achievement.svg" alt="Achievement" class="img-fluid" />
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h6>Best Financial Advisor</h6>
                                <p>Energy & Power</p>
                            </div>
                            <div class="mt-3">
                                <h6>Best Power Acquisition</h6>
                                <p>Energy &amp; Power</p>
                            </div>
                        </div>
                    </div>

                    <div class="text-paragraph--small mt-4">
                        <p>*Includes originated debt and non-originated debt placement transactions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="custom-block lazy-container s-team bg-white">
    <div class="container container-padding">
        <h4>Board of Trustees</h4>
        <div class="row">
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="William Ferri"
                    data-member-position="Chairman" data-member-company="">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100" />
                    <div class="team-member-details text-white">
                        <h5>William Ferri</h5>
                        <div class="team-member-details-job">
                            <p>Chairman</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="Member Name"
                    data-member-position="Position" data-member-company="Company">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>Member Name</h5>
                        <div class="team-member-details-job">
                            <p>Positon</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="Member Name"
                    data-member-position="Position" data-member-company="Company">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>Member Name</h5>
                        <div class="team-member-details-job">
                            <p>Position</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="team-member col-sm-6 col-lg-4">

                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="Member Name"
                    data-member-position="Position" data-member-company="Company">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>Member Name</h5>
                        <div class="team-member-details-job">
                            <p>Position</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="custom-block lazy-container s-team bg-white">
    <div class="container container-padding">
        <h4>The Team</h4>
        <div class="row">
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="William Ferri"
                    data-member-position="Chairman" data-member-company="Cantor Fitzgerald">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>William Ferri</h5>
                        <div class="team-member-details-job">
                            <p>Chairman</p>
                            <p>Cantor Fitzgerald</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="Member Name"
                    data-member-position="Position" data-member-company="Company">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>Member Name</h5>
                        <div class="team-member-details-job">
                            <p>Position</p>
                            <p>Cantor Fitzgerald</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="Member Name"
                    data-member-position="Position" data-member-company="Company">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>Member Name</h5>
                        <div class="team-member-details-job d-flex ">
                            <p>Position</p>
                            <p>Cantor Fitzgerald</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="custom-block lazy-container s-advisor">
    <div class="container container-padding">
        <div class="mb-5 mb-md-0">
            <h3 class="text-uppercase text-blue mb-3 mb-md-5 gray-line-accent">Sub Advisor</h3>
        </div>
        <div class="row">
            <div class="col-lg-3 s-advisor-logo pt-lg-3">
                <img src="/wp-content/themes/lucera-bootstrap/dist/images/logo-cantor.svg" alt="Advisor Logo" class="img-fluid" />
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <h2>100% Employee-Owned Firm</h2>
                <p class="font-bold">A Real Assets Specialist</p>
                <p>Since inception, Capital Innovations, LLC has specialized in real assets investing with experience
                    across infrastructure, real estate, commodities, agriculture and natural resources.</p>
                <p>The investment manager was founded to enable investors to benefit from the transition to a resource
                    constrained economy. Today's most forward-thinking companies are responding to the challenges and
                    opportunities created by population growth, natural resource scarcity, climate change, urbanization
                    and globalization.</p>
                <div class="mt-3">
                    <a href="#" class="brochure__btn btn btn-primary" download="">Download Brochure<span
                            class="btn-label label-after">
                            <i class="icon-download"></i>
                        </span></a>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <h4>Global Footprint</h4>
                        <p>More than 160 offices and trading desks located in all major financial centers
                            throughout the world</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h4>Investment Grade</h4>
                        <p>Maintains an investment-grade credit rating by Standard & Poor's and Fitch</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h4>Expansive Team</h4>
                        <p>Across all platforms, Cantor Fitzgerald has more than 12,000 employees worldwide</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h4>Primary Dealer</h4>
                        <p>One of the 24 primary dealers authorized to transact business with the Federal
                            Reserve Bank of New York</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-block lazy-container s-team bg-white">
    <div class="container container-padding">
        <h4>The Team</h4>
        <div class="row">
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="William Ferri"
                    data-member-position="Chairman" data-member-company="Cantor Fitzgerald">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100" />
                    <div class="team-member-details text-white">
                        <h5>William Ferri</h5>
                        <div class="team-member-details-job">
                            <p>Chairman</p>
                            <p>Cantor Fitzgerald</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="Member Name"
                    data-member-position="Position" data-member-company="Company">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>Member Name</h5>
                        <div class="team-member-details-job">
                            <p>Position</p>
                            <p>Cantor Fitzgerald</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="team-member col-sm-6 col-lg-4">
                <a class="bg-black modal-toggle teamModal-toggle d-block" data-member-name="Member Name"
                    data-member-position="Position" data-member-company="Company">
                    <img src="https://via.placeholder.com/350" alt="Member Name" class="img-fluid w-100">
                    <div class="team-member-details text-white">
                        <h5>Member Name</h5>
                        <div class="team-member-details-job d-flex ">
                            <p>Position</p>
                            <p>Cantor Fitzgerald</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>




{# Team Modal #}

<div class="modal-default teamModal">
    <div class="modal-overlay teamModal-toggle"></div>
    <div class="modal-wrapper">
        <div class="modal-header">
            <button class="modal-close teamModal-toggle"><i class="icon-close"></i></button>
        </div>

        <div class="modal-body">
            <div class="modal-content pt-4">
                <div class="row">
                    <div class="col-md-5">
                        <img src="https://via.placeholder.com/320" class="img-fluid" alt="Member Image">
                    </div>
                    <div class="col-md-7">
                        <h3 class="teamModal-name">Member Name</h3>
                        <div class="text-paragraph-bold">
                            <p class="teamModal-position font-bold">Position</p>
                            <p class="teamModal-company font-bold">Company</p>
                        </div>
                        <div class="team-member-details-bio mt-3">
                            <p>Mr. Milner is currently the President of Cantor Fitzgerald Investors and Co-Head of
                                Cantor Fitzgerald Investment Management as well as the President of Cantor Fitzgerald
                                Income Trust, Inc. Previously, Mr. Milner spent 14 years at BlackRock and was a
                                cofounder of their Commercial Real Estate Debt business. Mr. Milner was Global Head of
                                CRE Debt and President of the Carbon Capital series of private real estate debt funds as
                                well as a member of BlackRock’s Corporate Leadership Committee, the Real Estate
                                Executive Committee and the Global Real Estate Investment Committee. Prior to joing
                                BlackRock in 1997, Mr. Milner was responsible for origination, underwriting, and
                                securitization of all commercial mortgage conduit production at PNC and was also a
                                member of the PNC M&A team which acquired BlackRock and Midland Loan Services in 1995
                                and 1998, respectively. Mr. Milner has completed over 700 real estate debt, equity, and
                                capital markets transactions in North America, Europe, and Asia with an aggregate value
                                of over $32billion, including raising over $12 billion of investor capital. Mr. Milner
                                received an MBA in finance, with a concentration in real estate, from Indiana University
                                and a Bachelor of Arts Degree in economics from De Pauw University.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}