{% extends '_layout.twig' %}

{% block content %}

<section class="custom-block lazy-container" data-module="hero">
    <div class="b--hero --with-image bg-gray3">
        <div class="container container-padding">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="container">
                        <div class="breadcrumbs text-uppercase text-eyebrow">
                            <span><span><a href="http://cantor.local/">Home</a> » <span class="breadcrumb_last"
                                        aria-current="page">Literature</span></span></span>
                        </div>

                        <h2 class="h1">Investor Materials</h2>
                        <p>Learn more about Cantor Fitzgerald Sustainable Infrastructure Fund.</p>
                    </div>
                </div>
                <div
                    class="heroOffsetImage-bottom col-md-6 col-lg-5 offset-lg-1 d-lg-flex justify-content-lg-end ps-md-4 pt-5 pt-md-0">
                    <img src="https://via.placeholder.com/475x531" alt="Literature Hero Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-white">
    <div class="container container-padding">
        <div class="tabs">

            <div class="literature-dropdown btn-dropdown d-md-none">
                <button class="btn btn-secondary btn-dropdown-toggle" type="button" id="btn-dropdownMenuButton1"
                    data-bs-toggle="btn-dropdown" aria-expanded="false">Literature <span class='btn-label label-after'>
                        <i class='icon-angle-down'></i>
                    </span></button>
                <ul class="btn-dropdown-menu" aria-labelledby="btn-dropdownMenuButton1">
                    <li><a class="btn-dropdown-item" href="#tab1">Literature</a></li>
                    <li><a class="btn-dropdown-item" href="#tab2">Forms</a></li>
                    <li><a class="btn-dropdown-item" href="#tab3">SEC Filings</a></li>
                    <li><a class="btn-dropdown-item" href="#tab4">News</a></li>
                </ul>
            </div>
            <div class="d-none d-md-block">
                <ul id="tabs-nav">
                    <li><a href="#tab1">Literature</a></li>
                    <li><a href="#tab2">Forms</a></li>
                    <li><a href="#tab3">SEC Filings</a></li>
                    <li><a href="#tab4">News</a></li>
                </ul>
            </div>
            <div id="tabs-content">
                <div id="tab1" class="tab-content">
                    <div class="container">
                        <div class="row tab-content-search">
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="custom-btn-dropdown custom-dropdown d-flex align-items-center">
                                    <p class="font-bold">Sort By</p>
                                    <select class="form-select form-select-lg ms-3" aria-label="">
                                        <option value="1" selected>Most Recent</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 offset-lg-2 col-xl-3 offset-xl-5">
                                <div class="search mt-3 mt-md-0">
                                    <i class="icon-search"></i>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                        </div>

                        <ul class="tab-content-list">
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>Prospectus and Supplements</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>Prospectus and Supplements</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>Prospectus and Supplements</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>Prospectus and Supplements</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>Prospectus and Supplements</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-outline-primary btn-load-more">Load More Materials
                                <span class="btn-label label-after">
                                    <i class="icon-angle-down"></i>
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
                <div id="tab2" class="tab-content">
                    <div class="container">
                        <ul class="tab-content-list">
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>Forms Item 1</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>Forms Item 2</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab3" class="tab-content">
                    <div class="container">
                        <a href="#" class="">View complete complete list of SEC filings<span
                                class="ps-3 btn-label label-after">
                                <i class="icon-new-tab"></i>
                            </span>
                        </a>
                        <div class="custom-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" class="">8-K<span class="ps-3 btn-label label-after">
                                                    <i class="icon-new-tab"></i>
                                                </span>
                                        </td>
                                        <td>January 1, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="">Supplement No. 12<span
                                                    class="ps-3 btn-label label-after">
                                                    <i class="icon-new-tab"></i>
                                                </span>
                                        </td>
                                        <td>January 1, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="">Supplement No. 12<span
                                                    class="ps-3 btn-label label-after">
                                                    <i class="icon-new-tab"></i>
                                                </span>
                                        </td>
                                        <td>January 1, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="">Supplement No. 12<span
                                                    class="ps-3 btn-label label-after">
                                                    <i class="icon-new-tab"></i>
                                                </span>
                                        </td>
                                        <td>January 1, 2022</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="">Supplement No. 12<span
                                                    class="ps-3 btn-label label-after">
                                                    <i class="icon-new-tab"></i>
                                                </span>
                                        </td>
                                        <td>January 1, 2022</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-outline-primary btn-load-more">Load More Materials
                                <span class="btn-label label-after">
                                    <i class="icon-angle-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tab4" class="tab-content">
                    <div class="container">
                        <ul class="tab-content-list">
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>News Item 1</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="tab-content-list-item d-flex justify-content-between">
                                <p>News Item 2</p>
                                <a href="#" class="" download=""><span class="d-none d-md-inline">Download</span><span
                                        class="btn-label label-after">
                                        <i class="icon-download"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- END tabs-content -->
        </div> <!-- END tabs -->
    </div>
</section>


{% endblock %}