<section class="custom-block lazy-container {{ block.className }}" data-module="info-with-blue-box">
	<div class="py-5">
		<div class="container container-padding">
			<div class="row align-items-md-center">
				<div class="col-md-4 mb-5 mb-md-0">
					<h3 class="text-uppercase text-blue mb-3 mb-md-5 gray-line-accent">{{ fields.heading }}</h3>
					<div class="text-darkgray">
						{{ fields.description }}
					</div>
				</div>
				<div class="col-md-6 offset-md-2">
					<div class="blue-box text-white">
						{{ fields.content }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>